{% extends "base.html" %}

{% block title %}Vax Card Validator | LOT Lookup{% endblock title %}

{% block external_js %}
<script src="https://hcaptcha.com/1/api.js?hl=en" async defer></script>
{% endblock external_js %}

{% block content %}
<section class="py-5 container-fluid virus-bg">
  <form class="container" action="/" method="post">
    <div class="row text-center">
      {% csrf_token %}
      <div class="col-12">
        {{ form.non_field_errors }}            
      </div>
    </div>

    <div class="row text-center">
      <div class="mb-3 col-sm-12 col-lg-6 offset-lg-3">
        {{ form.vaccine_brand.errors }}
        <label for="{{ form.vaccine_brand.id_for_label }}"><strong class="text-white">Vaccine Brand:</strong> </label>
        <select name="vaccine_brand" id="id_vaccine_brand">
          {% for value, text in form.VACCINE_CHOICES %}
            <option value="{{value}}">{{ text }}</option>
          {% endfor %}
        </select>
        <!-- {{ form.vaccine_brand }} -->
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-sm-12 col-lg-6 offset-lg-3">
          {{ form.lot_num_1.errors }}
          <input type="text" class="form-control" placeholder="First Dose Lot#" name="lot_num_1" required="" id="id_lot_num_1">
      </div>        
    </div>

    <div class="row">
      <div class="mb-3 col-lg-6 col-sm-12 offset-lg-3">
        {{ form.lot_num_2.errors }}
        <input type="text" class="form-control" placeholder="Second Dose Lot# (Not Required)" name="lot_num_2" id="id_lot_num_2">
      </div>        
    </div>

    <div class="row align-items-center">
      <div class="text-center">
        <div
        class="h-captcha"
        data-sitekey="{{ hcaptcha_key }}"
        data-theme="dark"
        data-error-callback="onError"
      ></div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="mb-3 col-lg-2 col-sm-12 offset-lg-5">
        <input type="submit" class="w-100 btn btn-lg submit-vax-btn" value="Submit">
      </div>
    </div>

  </form>
</section>
<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col-lg-12 col-md-8 mx-auto">
      <h1 class="fw-light text-center">Disclaimer!</h1>
      <p class="lead text-center">Not suggested for validation outside of the US.</p>
      <p class="lead text-center">As this tool is a labor of love to help combat fake vaccination cards and to spread the knowledge of the flaws in using the vaccination cards as a form of meaningful validation, it is still not perfect. Due to no official affiliation with any pharmaceutical company the data used for validation can not be guaranteed to be 100% accurate. However the Lot Number data is provided from official Johnson and Johnson, and Moderna sites as used by Health Care Practioners to determine the expiration dates based on Lot Numbers. Even so I don't even fully trust these sources for up-to-the-minute data.</p>
    </div>
  </div>
  <div class="row py-lg-5">
    <div class="col-lg-12 col-md-8 mx-auto">
      <h1 class="fw-light text-center">What is this?</h1>
      <p class="lead text-center">This is a web application that can be used to validate the Lot Numbers that are <em>(or should be)</em> located on your COVID-19 Vaccination Record Card.</p>
    </div>
  </div>
  <div class="row py-lg-2">
    <div class="col-lg-12 col-md-8 mx-auto">
      <h1 class="fw-light text-center">How Does This Work?</h1>
      <p class="lead text-center">Break out your nifty COVID-19 Vaccination Record Card then follow these easy steps:</p>
      <ol class="text-center">
        <li>Look for the name of the Vaccine Brand/Manufacturer on your card.</li>
        <li>Click the drop down labeled "Vaccine Brand" and select the name from your card</li>
        <li>Next enter the Lot Numbers into the First Dose and Second Dose fields</li>
        <li>Click the "Submit" button!</li>
      </ol>
    </div>
  </div>
  <div class="row py-lg-2">
    <div class="col-lg-12 col-md-8 mx-auto">
      <h1 class="fw-light text-center">Why?</h1>
      <p class="lead text-center">The COVID-19 Vaccination Record Cards are currently being forged by and/or sold to Anti-vaxxers. <a href="https://www.cbsnews.com/news/covid-vaccination-cards-fake-scammers-fraud/">(Link)</a></p>
      <p class="lead text-center">Some places/people/organizations may rely on these cards as proof that one has been vaccinated and that's truly a big issue. When the CDC created the card their intention was to provide people with something that could help patients keep track of their records and remember their second dose appointment. I want to say it was analog because it was something both the technically inclined and savy could both keep ahold pretty easily. I don't want to believe that the CDC intended for places to use this card as a means of validation for those who got the vaccine and those who didn't.</p>
      <p class="lead text-center">I say that because there is nothing on the piece of paper that helps keep them unique or forgery proof. No embossing or holographs or code that can be used in a system for folks to do any proper validation.</p>
    </div>
  </div>
</section>
{% endblock content %}
