{% extends "base.html" %}

{% block title %}Vax Card Validator | Disclaimer & Privacy Policy{% endblock title %}

{% block content %}
<section class="py-5 container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h2>Privacy Policy</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <p>This is just meant to be a nifty little tool and a thing to say "Oh yeah I did that because I could". Maybe spark conversations and such too.</p>
            <p>The short of it, I don't care about your data. Your <strong>IP address</strong> will be logged by which is pretty standard. Your data (IP Address) will not be given to a third party.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h2>Disclaimer</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <p>I am not affiliated with the CDC, PFizer, Moderna, or J&J.</p>
            <p>This is just meant to be simple tool to potentially validate Lot numbers. I rely on third party services for this data, so the data is only as accurate as what J&J and Moderna provide.</p>
        </div>
    </div>
  
</section>
{% endblock content %}