{% extends "base.html" %}

{% block title %}Vax Card Validator | Results{% endblock title %}

{% block content %}
<section class="py-5 container-fluid">
    <div class="row text-center">
        <div class="col-12">
            <h2>Vaccine: {{vaccine_brand}}</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h2 class="{% if lot_num_1_result %}success-text{% else %}fail-text{% endif %}">Dose 1 Lot#: {{lot_num_1}} {% if lot_num_1_result %}✅{% else %}❌{% endif %}</h2>
        </div>
    </div>
    {% if lot_num_2 %}
    <div class="row text-center">
        <div class="col-12">
            <h2 class="{% if lot_num_2_result %}success-text{% else %}fail-text{% endif %}">Dose 2 Lot#: {{lot_num_2}}{% if lot_num_2_result %}✅{% else %}❌{% endif %}</h2>
        </div>
    </div>
    {% endif %}
  
</section>
{% endblock content %}