body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: blue;
}

.vax-nav {
    background-color: #0d6efd !important;
}

.virus-bg {
    background-image: url("/static/vaxvalidator/images/virus-bg-new.jpg");
    background-size: cover;
}

.text-white {
    color: #fff;
}

.vax-footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.submit-vax-btn {
    background-color: white !important;
    color: #0d6efd !important;
    border-color: #0d6efd;
}

.success-text {
    color: #198754;
}

.fail-text {
    color: #dc3545;
}

.errorlist {
    color: #dc3545;
    font-weight: bolder;
    font-size: 1.5em;
}


/* ----------- iPhone X ----------- */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 
    .sm-align-center {
        text-align: center;
    }
}
/* ----------- iPad Pro 10.5" ----------- */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
